---
import DefaultLayout from '../layouts/DefaultLayout.astro'
import Hero from '../components/Hero.astro'
import Feature from '../components/Feature.astro'
import Counter from '../components/Counter.astro'
import ContentMedia from '../components/ContentMedia.astro'
---

<DefaultLayout title="Home">
  <Hero />
  <section class="my:48 lg:my-64">
    <div class="container">
      <h2 class="mb-16 text-6xl">Features</h2>
      <div class="grid grid-cols-1 gap-12 md:grid-cols-2 lg:grid-cols-3">
        <Feature icon="mdi:lock-check" title="Private first">
          undb is private first, you can deploy your own instance of undb and handle your own data local.
        </Feature>
        <Feature icon="mdi:balloon" title="Lightweight">
          Use sqlite and local object storage by default, requires only one file to persist your data.
        </Feature>
        <Feature icon="mdi:rocket-launch" title="Deploy in seconds">
          You can deploy undb in only seconds by docker and others.
        </Feature>
        <Feature icon="mdi:earth" title="i18n">support multiple languages</Feature>
        <Feature icon="mdi:periodic-table" title="Built in types">Many built in field types and configurable</Feature>
        <Feature icon="mdi:github" title="Opensource">All codes of undb are opensourced on github.com</Feature>
      </div>
    </div>
  </section>
</DefaultLayout>
