---
import Stats from "../components/Stats.astro";
import Features from "../components/Features.astro";
import HeroSection from "../components/HeroSection.astro";
import Layout from "../layouts/Layout.astro";
import LiveDemo from "../components/LiveDemo.astro";
import CallToAction from "../components/CallToAction.astro";
import Scenarios from "../components/Scenarios.astro";
---

<Layout title="Welcome to Undb.">
  <main class="space-y-40 mb-40 overflow-x-hidden">
    <HeroSection />
    <Stats />
    <Features />
    <LiveDemo />
    <CallToAction />
    <Scenarios />
  </main>
</Layout>
