---
import { Icon } from 'astro-icon'
import CallToAction from './CallToAction.astro'

const currentYear = new Date().getFullYear()
---

<footer>
  <CallToAction />
  <section class="py-8 border-2">
    <div class="max-w-5xl w-full mx-auto sm:px-10 grid grid-cols-1 sm:grid-cols-3 gap-8 sm:gap-6 items-start">
      <div class="w-full justify-center items-start flex flex-col space-y-2">
        <p class="text-gray-400">References</p>
        <a class="!text-gray-800" href="https://docs.undb.xyz">Documentation</a>
        <a class="!text-gray-800" href="https://docs.undb.xyz/en/installation-with-docker">Installation</a>
      </div>
      <div class="w-full justify-center items-start flex flex-col space-y-2">
        <p class="text-gray-400">Contact</p>

        <a class="!text-gray-800 inline-flex justify-center" href="https://discord.gg/3rcNdU3y3U" target="_blank"
          ><span class="text-gray-400">Discuss in</span> <Icon name="mdi:discord" class="w-5 mx-1" /> Discord</a
        >
      </div>
    </div>
  </section>
</footer>
