---
import Container from "./Container.astro";
---

<div class="text-gray-600 dark:text-gray-300" id="future-features">
  <Container>
    <div class="mb-20 space-y-4 px-6 md:px-0">
      <h2
        class="text-center text-2xl font-bold text-gray-800 dark:text-white md:text-4xl"
      >
        Undb platform will support the following features.
        <p class="text-base text-gray-800 dark:text-gray-300 mt-8">
          We are currently developing additional functionalities and look
          forward to unveiling them soon. Thank you for your patience and stay
          tuned!
        </p>
      </h2>
    </div>
    <div class="md:columns-2 lg:columns-3 gap-8 space-y-8">
      <div
        class="aspect-auto p-8 border border-gray-100 rounded-3xl bg-white dark:bg-gray-800 dark:border-gray-700 shadow-2xl shadow-gray-600/10 dark:shadow-none"
      >
        <div class="flex gap-4">
          <div>
            <h6 class="text-lg font-medium text-gray-700 dark:text-white">
              Import and export of tables
            </h6>
          </div>
        </div>
        <p class="mt-8">
          When using tables in Undb platforms, the import and export functions
          can help users transfer data more easily, import data from other
          systems or backup data to spreadsheets. This improves the efficiency
          of data management and processing.
        </p>
      </div>
      <div
        class="aspect-auto p-8 border border-gray-100 rounded-3xl bg-white dark:bg-gray-800 dark:border-gray-700 shadow-2xl shadow-gray-600/10 dark:shadow-none"
      >
        <div class="flex gap-4">
          <div>
            <h6 class="text-lg font-medium text-gray-700 dark:text-white">
              User Permissions
            </h6>
          </div>
        </div>
        <p class="mt-8">
          User permissions are designed to ensure the security and
          confidentiality of data on the platform, and to ensure that only
          authorized users can access, modify, and share data.
        </p>
      </div>
      <div
        class="aspect-auto p-8 border border-gray-100 rounded-3xl bg-white dark:bg-gray-800 dark:border-gray-700 shadow-2xl shadow-gray-600/10 dark:shadow-none"
      >
        <div class="flex gap-4">
          <div>
            <h6 class="text-lg font-medium text-gray-700 dark:text-white">
              Preview of Image Attachment
            </h6>
          </div>
        </div>
        <p class="mt-8">
          Previewing attachment images is important in Undb platform. It allows
          users to preview images and attachments in the table directly without
          downloading files, saving them time and improving work efficiency.
        </p>
      </div>
      <div
        class="aspect-auto p-8 border border-gray-100 rounded-3xl bg-white dark:bg-gray-800 dark:border-gray-700 shadow-2xl shadow-gray-600/10 dark:shadow-none"
      >
        <div class="flex gap-4">
          <div>
            <h6 class="text-lg font-medium text-gray-700 dark:text-white">
              Private deployment
            </h6>
            <p class="text-sm text-gray-500 dark:text-gray-300">Mobile dev</p>
          </div>
        </div>
        <p class="mt-8">
          Deploying the Undb system in a private environment can improve data
          security, customization, system stability and reliability, and enable
          independent deployment plans.
        </p>
      </div>
      <div
        class="aspect-auto p-8 border border-gray-100 rounded-3xl bg-white dark:bg-gray-800 dark:border-gray-700 shadow-2xl shadow-gray-600/10 dark:shadow-none"
      >
        <div class="flex gap-4">
          <div>
            <h6 class="text-lg font-medium text-gray-700 dark:text-white">
              Collaborative Editing
            </h6>
          </div>
        </div>
        <p class="mt-8">
          Collaborative editing allows teams to work together to improve work
          efficiency, especially in tasks such as multiple people editing the
          same application or form in the NoCode platform.
        </p>
      </div>
      <div
        class="aspect-auto p-8 border border-gray-100 rounded-3xl bg-white dark:bg-gray-800 dark:border-gray-700 shadow-2xl shadow-gray-600/10 dark:shadow-none"
      >
        <div class="flex gap-4">
          <div>
            <h6 class="text-lg font-medium text-gray-700 dark:text-white">
              Process Automation
            </h6>
          </div>
        </div>
        <p class="mt-8">
          Process automation enhances efficiency, reliability, and team
          collaboration, accelerates workflow, reduces human errors, and enables
          each individual to focus on their area of expertise, thereby improving
          productivity and work quality.
        </p>
      </div>
    </div>
  </Container>
</div>
