---
import Container from './Container.astro'
---

<div class="text-gray-600 dark:text-gray-300" id="future-features">
  <Container>
    <div class="mb-20 space-y-4 px-6 md:px-0">
      <h2 class="text-center text-2xl font-bold text-gray-800 dark:text-white md:text-4xl">
        Undb platform will support the following features.
        <p class="text-base text-gray-800 dark:text-gray-300 mt-8">
          We are currently developing additional functionalities and look forward to unveiling them soon. Thank you for
          your patience and stay tuned!
        </p>
      </h2>
    </div>
    <div class="w-full py-20 pt-10 container mx-auto px-5 flex flex-wrap gap-y-14 justify-between">
      <div class="w-full md:w-1/2 lg:w-1/3 gap-2">
        <div class="text-sm font-bold vertical-text whitespace-nowrap text-[#3f77fe]">
          &lt;<!-- -->
          <!-- -->System basis<!-- -->
          <!-- -->&gt;
        </div><div class="w-full space-y-6 mt-8">
          <div class="text-xl whitespace-nowrap">Recycle bin</div>
          <div class="text-xl whitespace-nowrap">Grid Import/Export</div>
          <div class="text-xl whitespace-nowrap">Change Record Notification permission</div>
          <div class="text-xl whitespace-nowrap">Permission</div>
          <div class="text-xl whitespace-nowrap">User Settings Refactor</div>
          <div class="text-xl whitespace-nowrap">Workflow Automation</div>
          <div class="text-xl whitespace-nowrap">Notification of Changes</div>
        </div>
      </div><div class="w-full md:w-1/2 lg:w-1/3 gap-2">
        <div class="text-sm font-bold vertical-text whitespace-nowrap text-[#3f77fe]">
          &lt;<!-- -->
          <!-- -->Table basic features<!-- -->
          <!-- -->&gt;
        </div><div class="w-full space-y-6 mt-8">
          <div class="text-xl whitespace-nowrap">Multi-select fields</div>
          <div class="text-xl whitespace-nowrap line-through text-gray-200">Currency fields</div>
          <div class="text-xl whitespace-nowrap">Expanded email fields</div>
          <div class="text-xl whitespace-nowrap">Copying columns</div>
          <div class="text-xl whitespace-nowrap line-through text-gray-200">Copying rows</div>
          <div class="text-xl whitespace-nowrap">Pivot View</div>
          <div class="text-xl whitespace-nowrap">Group display</div>
          <div class="text-xl whitespace-nowrap">Grid View editing</div>
        </div>
      </div><div class="w-full md:w-1/2 lg:w-1/3 gap-2">
        <div class="text-sm font-bold vertical-text whitespace-nowrap text-[#3f77fe]">
          &lt;<!-- -->
          <!-- -->Preferences & Productivity<!-- -->
          <!-- -->&gt;
        </div><div class="w-full space-y-6 mt-8">
          <div class="text-xl whitespace-nowrap">Advanced search</div>
          <div class="text-xl whitespace-nowrap">Keyboard shortcuts</div>
          <div class="text-xl whitespace-nowrap">Cloud services</div>
          <div class="text-xl whitespace-nowrap">Single sign-on</div>
        </div>
      </div>
    </div>
  </Container>
</div>
